body {
    background-image: url("../imagem/campusifmg.jpg");
    background-position: center;
    background-size: cover;
    /* posicionamento do form */
    display: grid;
    min-height: 100vh;
    justify-content: flex-end;
    align-content: center;
    margin: 0;
}

/* Formulário: */
form {
    --tamanho-caixa: 500px;
    --arredondamento-bordas: 4px;
    box-sizing: border-box;
    width: var(--tamanho-caixa);
    padding: 16px;
    border-radius: var(--arredondamento-bordas);
    margin-right: 20px;
    background-color: hsla(0, 4%, 14%, 0.5);
}

label {
    display: block;
    font-size: 24px;
    color: hsl(0, 0%, 100%);
}

input[type="text"],
input[type="password"] {
    font-size: 18px;
    padding: 8px;
    display: block;
    border: 1px solid transparent;
    border-radius: var(--arredondamento-bordas);
    width: calc(var(--tamanho-caixa) - 48px);
}

input[type="text"]:hover,
input[type="password"]:hover {
    box-shadow: 0 4px 5px 0 hsla(0, 0%, 0%, 0.36);
}

input[type="submit"] {
    cursor: pointer;
    user-select: none;
    padding: 8px 16px;
    border: none;
    font-size: 1.2em;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 3%, 19%);
    border-radius: var(--arredondamento-bordas);
}

input[type="submit"]:hover{
    background-color:hsl(0, 4%, 9%);
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity:0.3;
    pointer-events: none;
    box-shadow: none;
}

input[type="text"]:valid,
input[type="password"]:valid,
.valid {
    border: 1px solid rgb(0, 71, 0);
}

input[type="text"]:invalid,
input[type="password"]:invalid,
.invalid {
    /* background-color: red; */
    border: 1px solid hsl(0, 38%, 41%);
    box-shadow: 0 8px 8px 0 hsla(0, 38%, 41%, 0.36);
    background-color: hsl(351, 100%, 94%);
}

div.error {
    padding: 4px;
    margin: 0.1em;
    border-radius: var(--arredondamento-bordas);
    color: hsl(0, 0%, 100%);
    text-align: right;
    background-color: hsla(0, 75%, 40%, .7);
}

div.error.cpf {
    visibility: hidden;
}

div.error.password {
    visibility: hidden;
}

@media (max-width: 520px) {
    body {
        justify-content: center;
    }

    form {
        margin: 0;
        width: 360px;
    }

    input[type="text"],
    input[type="password"] {
        width: 312px;
    }
}